[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uvicorn = "*"
fastapi = "*"
pydantic = "*"
passlib = "*"
aiofiles = "*"
Jinja2 = "*"
SQLAlchemy = "*"
alembic = "*"
python-jose = "*"
psycopg2 = "*"
ormar = "*"
fastapi-crudrouter = "*"

[dev-packages]
pytest = "*"
mypy = "*"
black = "==20.8b1"
python-dotenv = "*"
asynctest = "*"
pytest-cov = "*"
requests = "*"
sqlalchemy2-stubs = "==0.0.1a4"

[requires]
python_version = "3.8"

[packages.databases]
extras = [ "postgresql",]

[packages.fastapi-users]
extras = [ "ormar",]
