<!DOCTYPE HTML>
<html>

    <head>
        <meta charset="UTF-8">
        <title>Main</title>
        <script src="https://kit.fontawesome.com/eda4a9f802.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href={{ url_for('static', path='style.css' )}} />
        <link rel="shortcut icon" type="image/ico" href={{ url_for('static', path='favicon.ico' )}} />
        <script src={{ url_for('static', path='main.min.js' )}}></script>
    </head>

    <body>
        <script>var app = Elm.Main.init();</script>
    </body>

</html>